if(menu)
    each product in menu
        p #{product.snack_name}
        p #{product.price}
        p #{product.type}
        p #{product.add_on}
        p #{product.size}
        p #{product.mass}
        p #{product.calories}
        button.btn(type="plus") +
        br
