
doctype html
html
  head
    style
        include menu.css
    block head
body
    h1 COFFEE
    if(menu)
        each product,id in menu
            if(product.type==="COFFEE")
                p #{product.snack_name}
                p #{product.price}
                //p #{product.type}
                //p #{product.add_on}
                //p #{product.size}
                p #{product.mass}
                p #{product.calories}
                button.btn(type="plus", onclick='myFunction(\'' + id + '\')') +
                .product_detail
                    p #{product.snack_name}
                    p #{product.price}
                    p #{product.type}
                    p #{product.add_on}
                    p #{product.size}
                    span total price = 
                    span
                        script.
                            document.write(#{product.price});
                br
    h1 BISCUIT
    if(menu)
        each product,id in menu
            if(product.type==="BISCUIT")
                p #{product.snack_name}
                p #{product.price}
                //p #{product.type}
                //p #{product.add_on}
                //p #{product.size}
                p #{product.mass}
                p #{product.calories}
                button.btn(type="plus", onclick='myFunction(\'' + id + '\')') +
                .product_detail
                    p #{product.snack_name}
                    p #{product.price}
                    p #{product.type}
                    p #{product.add_on}
                    p #{product.size}
                br
script.
    function myFunction(id) {
        var x = document.getElementsByClassName("product_detail");
        if (x[id].style.display === "block") {
            x[id].style.display = "none";
        } else {
            x[id].style.display = "block";
        }
    };
script.
    function calculate_total_price(price) {
        var x = price;
        return 1;
    
    };